{% block style %}
<link rel="stylesheet" href="{{ asset('style/cart.css') }}" />
{% endblock %}

<div class="cart-modal">
  <div class="cart-modal-content">
    <div class="cart-modal-header">
      <h5 class="cart-modal-header-title" id="cartModalLabel">Mon panier</h5>

      <hr />
    </div>
    <div class="modal-body">
      {% if cart is defined%} {% if cart is empty %}
      <p class="modal-body-empty">Le panier est vide.</p>
      {% else %} {% for item in cart %} {% if item.id is defined%}
      <div class="modal-body-product">
        <span>{{ item.libelle }}</span>
        <div class="modal-body-product-qts">
          <span>qt : {{ item.quantity }}</span>
          <button
            class="modal-body-product-btn"
            id="decreaseBtn-{{ item.id }}"
            onclick="decreaseQuantity('{{ item.id }}')"
            data-url="{{ path('decrease_quantity', { itemId: item.id }) }}"
          >
            X
          </button>
        </div>
      </div>
      {% endif %}
      <hr />
      {% endfor %}
      <div class="modal-body-total">
        Total <span>{{ total }}€</span>
      </div>
      <button class="modal-body-btn">Régler mon panier</button>
      {% endif %} {% endif %}
    </div>
  </div>
</div>

{% block script %}
<script>
  function decreaseQuantity(itemId) {
    var url = document.getElementById("decreaseBtn-" + itemId).dataset.url;
    window.location.href = url;
  }
</script>
{% endblock %}
